USE [master]
GO
/****** Object:  Database [Travel]    Script Date: 2024/4/8 上午 10:11:40 ******/
CREATE DATABASE [Travel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Travel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Travel.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Travel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Travel_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Travel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Travel]
GO
/****** Object:  Table [dbo].[Spots]    Script Date: 2024/4/8 上午 10:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spots](
	[SpotId] [int] IDENTITY(1,1) NOT NULL,
	[ScenicSpotID] [char](20) NULL,
	[ScenicSpotName] [varchar](100) NULL,
	[Phone] [varchar](50) NULL,
	[ZipCode] [varchar](10) NULL,
	[_Address] [varchar](500) NULL,
	[TravelInfo] [varchar](500) NULL,
	[OpenTime] [varchar](500) NULL,
	[PictureUrl1] [varchar](255) NULL,
	[PictureDescription1] [varchar](255) NULL,
	[PictureUrl2] [varchar](255) NULL,
	[PictureDescription2] [varchar](255) NULL,
	[PictureUrl3] [varchar](255) NULL,
	[PictureDescription3] [varchar](255) NULL,
	[PositionLon] [varchar](11) NULL,
	[PositionLat] [varchar](11) NULL,
	[GeoHash] [varchar](15) NULL,
	[Class1] [varchar](20) NULL,
	[Class2] [varchar](20) NULL,
	[Class3] [varchar](20) NULL,
	[_level] [varchar](10) NULL,
	[WebsiteUrl] [varchar](255) NULL,
	[ParkingInfo] [varchar](255) NULL,
	[ParkingLon] [varchar](11) NULL,
	[ParkingLat] [varchar](11) NULL,
	[ParkingGeoHash] [varchar](10) NULL,
	[TicketInfo] [varchar](500) NULL,
	[Remarks] [varchar](500) NULL,
	[Keyword] [varchar](100) NULL,
	[City] [char](10) NULL,
	[_Description] [varchar](5000) NULL,
	[DescriptionDetail] [varchar](5000) NULL,
 CONSTRAINT [PK_Spots] PRIMARY KEY CLUSTERED 
(
	[SpotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[StatisticsCity]    Script Date: 2024/4/8 上午 10:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[StatisticsCity] AS
SELECT city, COUNT(*) AS count
FROM Spots
GROUP BY city;



GO
/****** Object:  Table [dbo].[album]    Script Date: 2024/4/8 上午 10:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[album](
	[AlbumId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AlbumName] [nvarchar](256) NOT NULL,
	[CreateTime] [date] NULL,
	[State] [int] NULL,
 CONSTRAINT [PK__album__97B4BE37571D3459] PRIMARY KEY CLUSTERED 
(
	[AlbumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[article]    Script Date: 2024/4/8 上午 10:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[article](
	[ArticleId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](256) NULL,
	[Subtitle] [nvarchar](256) NULL,
	[PublishTime] [datetime] NULL,
	[TravelTime] [datetime] NULL,
	[Contents] [nvarchar](max) NULL,
	[Images] [varchar](256) NULL,
	[LikeCount] [int] NULL,
	[PageView] [int] NULL,
	[ArticleState] [char](6) NULL,
	[SpotId] [int] NULL,
 CONSTRAINT [PK__article__9C6270E824592651] PRIMARY KEY CLUSTERED 
(
	[ArticleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[articleOtherTags]    Script Date: 2024/4/8 上午 10:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articleOtherTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ArticleId] [int] NOT NULL,
	[OtherTagId] [int] NOT NULL,
 CONSTRAINT [PK_articleOtherTags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friend]    Script Date: 2024/4/8 上午 10:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friend](
	[uuid] [int] IDENTITY(1,1) NOT NULL,
	[FriendId] [int] NULL,
	[UserId] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Firend] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FriendRequest]    Script Date: 2024/4/8 上午 10:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FriendRequest](
	[uuid] [int] IDENTITY(1,1) NOT NULL,
	[SenderUserId] [int] NULL,
	[ReceiverUserId] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_FriendRequest] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LookBack]    Script Date: 2024/4/8 上午 10:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookBack](
	[Yid] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[PhotoId] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_LookBack] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messageBoard]    Script Date: 2024/4/8 上午 10:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messageBoard](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[ArticleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Contents] [nvarchar](2500) NULL,
	[MessageTime] [datetime] NULL,
 CONSTRAINT [PK__messageB__C87C0C9C4A7A0112] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[myFavor]    Script Date: 2024/4/8 上午 10:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[myFavor](
	[SpotId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_myFavor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OtherTags]    Script Date: 2024/4/8 上午 10:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtherTags](
	[OtherTagId] [int] IDENTITY(1,1) NOT NULL,
	[OtherTagName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_OtherTags] PRIMARY KEY CLUSTERED 
(
	[OtherTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[photo]    Script Date: 2024/4/8 上午 10:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[photo](
	[PhotoId] [int] IDENTITY(1,1) NOT NULL,
	[PhotoTitle] [varchar](255) NOT NULL,
	[PhotoDescription] [varchar](255) NULL,
	[PhotoPath] [varchar](255) NULL,
	[UploadDate] [date] NULL,
	[AlbumId] [int] NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK__photo__21B7B5E2D9618FE2] PRIMARY KEY CLUSTERED 
(
	[PhotoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagList]    Script Date: 2024/4/8 上午 10:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagList](
	[LabelId] [int] IDENTITY(1,1) NOT NULL,
	[TagClass] [varchar](6) NULL,
	[TagName] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[LabelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UniqueCity]    Script Date: 2024/4/8 上午 10:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UniqueCity](
	[City] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2024/4/8 上午 10:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](25) NULL,
	[Phone] [char](10) NULL,
	[Mail] [varchar](254) NULL,
	[Gender] [varchar](6) NULL,
	[Pwd] [varchar](256) NULL,
	[Nickname] [nvarchar](32) NULL,
	[Birthday] [date] NULL,
	[Address] [nvarchar](100) NULL,
	[Introduction] [nvarchar](150) NULL,
	[Interest] [nvarchar](10) NULL,
	[Headshot] [varchar](256) NULL,
	[SuperUser] [char](3) NULL,
 CONSTRAINT [PK__users__1788CC4C21EE8A4B] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[album]  WITH CHECK ADD  CONSTRAINT [fk_album_AlbumId] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([UserId])
GO
ALTER TABLE [dbo].[album] CHECK CONSTRAINT [fk_album_AlbumId]
GO
ALTER TABLE [dbo].[article]  WITH CHECK ADD  CONSTRAINT [fk_users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([UserId])
GO
ALTER TABLE [dbo].[article] CHECK CONSTRAINT [fk_users_UserId]
GO
ALTER TABLE [dbo].[articleOtherTags]  WITH CHECK ADD  CONSTRAINT [FK_articleOtherTags_article] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[article] ([ArticleId])
GO
ALTER TABLE [dbo].[articleOtherTags] CHECK CONSTRAINT [FK_articleOtherTags_article]
GO
ALTER TABLE [dbo].[articleOtherTags]  WITH CHECK ADD  CONSTRAINT [FK_articleOtherTags_OtherTags] FOREIGN KEY([OtherTagId])
REFERENCES [dbo].[OtherTags] ([OtherTagId])
GO
ALTER TABLE [dbo].[articleOtherTags] CHECK CONSTRAINT [FK_articleOtherTags_OtherTags]
GO
ALTER TABLE [dbo].[LookBack]  WITH CHECK ADD  CONSTRAINT [FK_LookBack_photo] FOREIGN KEY([PhotoId])
REFERENCES [dbo].[photo] ([PhotoId])
GO
ALTER TABLE [dbo].[LookBack] CHECK CONSTRAINT [FK_LookBack_photo]
GO
ALTER TABLE [dbo].[LookBack]  WITH CHECK ADD  CONSTRAINT [FK_LookBack_users] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([UserId])
GO
ALTER TABLE [dbo].[LookBack] CHECK CONSTRAINT [FK_LookBack_users]
GO
ALTER TABLE [dbo].[messageBoard]  WITH CHECK ADD  CONSTRAINT [fk_messageBoard_ArticleId] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[article] ([ArticleId])
GO
ALTER TABLE [dbo].[messageBoard] CHECK CONSTRAINT [fk_messageBoard_ArticleId]
GO
ALTER TABLE [dbo].[messageBoard]  WITH CHECK ADD  CONSTRAINT [fk_messageBoard_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([UserId])
GO
ALTER TABLE [dbo].[messageBoard] CHECK CONSTRAINT [fk_messageBoard_UserId]
GO
ALTER TABLE [dbo].[myFavor]  WITH CHECK ADD  CONSTRAINT [FK_myFavor_Spots] FOREIGN KEY([SpotId])
REFERENCES [dbo].[Spots] ([SpotId])
GO
ALTER TABLE [dbo].[myFavor] CHECK CONSTRAINT [FK_myFavor_Spots]
GO
ALTER TABLE [dbo].[myFavor]  WITH CHECK ADD  CONSTRAINT [FK_myFavor_users] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([UserId])
GO
ALTER TABLE [dbo].[myFavor] CHECK CONSTRAINT [FK_myFavor_users]
GO
ALTER TABLE [dbo].[photo]  WITH CHECK ADD  CONSTRAINT [fk_photo_AlbumId] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[album] ([AlbumId])
GO
ALTER TABLE [dbo].[photo] CHECK CONSTRAINT [fk_photo_AlbumId]
GO
ALTER TABLE [dbo].[photo]  WITH CHECK ADD  CONSTRAINT [FK_photo_users] FOREIGN KEY([UserId])
REFERENCES [dbo].[users] ([UserId])
GO
ALTER TABLE [dbo].[photo] CHECK CONSTRAINT [FK_photo_users]
GO
USE [master]
GO
