@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="row">
    <div class="col">
        <div id="searchPanel">
            <label for="userIdInput">UserId:</label>
            <input type="text" name="UserId" id="userIdInput" />
            <label for="userNameInput">UserName:</label>
            <input type="text" name="userName" id="userNameInput" />
            <input type="submit" value="查詢" />
        </div>
    </div>
    <div class="col-auto ml-auto">
        <a href="/Backstage/Index">後臺管理</a>
    </div>
</div>
<canvas id="myChart" width="400" height="400"></canvas>
<script>
    let myChart;
    let chartTitle;
    generateChart();
    function generateChart() {
        if (typeof myChart !== 'undefined' && myChart !== null) {
            // 如果存在，銷毀之
            myChart.destroy();
        }

        // 使用Chart.js創建分布圖
        const ctx = document.getElementById('myChart').getContext('2d');
        var data = {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'Sales',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [12, 19, 3, 5, 2, 3, 8],
            }]
        };

        // 配置选项
        var options = {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        };

        // 创建图表
        myChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: options
        });
    }
    

</script>