
@{
    Layout = "_Layout";
}
@* 這邊只能model一個如果要同時使用TagList、Spots表應該怎麼做? *@
<div id="tab">
    <ul>
        <li><p class="#tab-1">自選</p></li>
        <li><p class="#tab-2">Ai</p></li>
    </ul>

    <div id="tab01">
        @Html.Partial("../shared/AiRecommendPartialView/CustomerPickPartial.cshtml")
    </div>

    <div id="tab02" class="tab-inner">
        @Html.Partial("../shared/AiRecommendPartialView/AiPickPartial.cshtml")
    </div>



</div>


@*  <div id="tab02" class="tab-inner">
        @Html.Partial("../shared/AiRecommendPartialView/AiPickPartial.cshtml")
    </div> *@

