body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #373239;
    color:aliceblue;
}

.container-fluid {
    display: flex;
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-items: center;
}

img{
    margin-left: 20%;
    width: 25%;
    height: auto;
}

.custom-btn-text-color {
    color: red; /* 修改文字顏色為紅色，可以修改為你想要的任何顏色 */
}