body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F3E4C6;
}

h2{
    color:black;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .container img {
        width: 200px;
        height: auto;
        position: relative;
        left: 50%;
        top: 15px;
        margin-bottom: 15px;
        transform: translateX(-50%);
        border-radius: 50%;
        object-fit: cover;
    }
