<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/ai/switchbar.css" />
    <link rel="stylesheet" href="~/css/ai/typewrite.css" />
    <link rel="stylesheet" href="~/css/ai/step.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.js"></script>
</head>
<body>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    

    <script src="~/js/ai/switchbar.js"></script>
    <script src="~/js/ai/typewrite.js"></script>
    <script src="~/js/ai/nextpage.js"></script>
    <script src="~/js/ai/step.js"></script>
</body>
</html>