<h1>這是Ai那一頁</h1>
@{
    Layout = "_AiPartialLayout";
}
<div id="tab">
    <ul>
        <li><p class="#tab-1">自選</p></li>
        <li><p class="#tab-2">Ai</p></li>
    </ul>

    <div id="tab01">
        @Html.Partial("../shared/AiRecommendPartialView/CustomerPickPartial.cshtml")
    </div>

    <div id="tab02" class="tab-inner">
        @Html.Partial("../shared/AiRecommendPartialView/AiPickPartial.cshtml")
    </div>



</div>