@{
    Layout = "_AiLayout";
}




<div id="Hello">
    <h2>您好!今天想去哪裡玩? 我可以幫您推薦喔</h2>
</div>

<div id="content1" class="content active">
    @Html.Partial("../shared/AiRecommendPartialView/AiPickPartial.cshtml")
</div>

<div id="content2" class="content">這是區域旅行的內容。</div>

