@model List<TravelNotes.Models.photo>


<style>
    .image-container {
        display: inline-block;
        margin-left: 20px;
        position: relative;
    }

        .image-container:hover {
            transform: scale(1.05); /* 滑鼠停在.image-container上時放大圖片 */
        }

        .image-container .hover-button {
            position: absolute;
            width: 50px;
            transform: translate(-300%);
            border: none;
            background-color: black;
            color: #fff;
            cursor: pointer;
            opacity: 0; /* 初始設定不可見 */
            transition: opacity 0.5s ease;
        }

        .image-container:hover .hover-button {
            opacity: 1; /* 滑鼠停在上方才顯示出來 */
        }

    .modal {
        display: none; /* 不顯示 */
        position: fixed; /* 固定定位 */
        z-index: 1000; /* 設定在最表層 */
        padding-top: 100px; /* 位置 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* 如果需要，使用滾動 */
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.9); /* 背景黑色，透明度 */
    }
    /* 點擊出來的img */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }
    /* 關閉按鈕 */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
    }
    /* 添加一個樣式以突顯選中的圖片 */
    .selected {
        width: 200px; /* 定義橢圓的寬度 */
        height: 100px; /* 定義橢圓的高度 */
        background-color: lightblue; /* 設定背景顏色 */
        border-radius: 20%; /* 使邊框變成橢圓形 */
        border: 2px solid black; /* 定義邊框的樣式 */
    }

    #contextMenu {
        display: none;
        position: absolute;
        z-index: 1000;
        background-color: #f0f0f0;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
    }

        #contextMenu ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

            #contextMenu ul li {
                padding: 8px;
                cursor: pointer;
            }

                #contextMenu ul li:hover {
                    background-color: #e7e7e7;
                }
</style>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TravelNotes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Album" asp-action="Photo">我的相片</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Album" asp-action="Album">我的相簿</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Album" asp-action="Garbage">我的垃圾桶</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <h1>相片</h1>
    </div>
    <hr />
    @* 提醒文字 *@
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-warning" role="alert" id="messageAlert">
            @TempData["Message"]
        </div>
    }
    <div id="SuccessMessage" class="alert alert-success" style="display:none;">
        刪除成功！
    </div>
    <div id="FalseMessage" class="alert alert-danger" style="display:none;">
        刪除失敗！
    </div>
    <div id="successMessage" class="alert alert-success" style="display:none;"></div>
    <div id="falseMessage" class="alert alert-danger" style="display:none;"></div>
    @* form表單接收使用者上傳的檔案，該檔案預設接收.png .jpg .jpeg ，回傳給UploadImage*@
    <form asp-action="UploadImages" method="post" enctype="multipart/form-data">
        <div>
            <label for="imageFiles">選擇照片</label>
            <input type="file" class="form-control" name="imageFiles" accept=".png, .jpg, .jpeg" multiple />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">上傳</button>
    </form>
    <br />
    <button id="updateNullAlbumPhotos">清空相片</button>
    <hr />
</header>
<body>
    <button id="toggle-select-mode">選擇</button>
    @foreach (photo p in Model)
    {
        //Action Privacy 後端回傳符合條件 p.UserId == 1 && p.AlbumId == null 的所有圖片
        <div id="Pho-@p.PhotoId" class="image-container">
            <img id="dynamicImage-@p.PhotoId" src="@p.PhotoPath" class="image-item" data-photodescription="@p.PhotoDescription" style="width: 150px;height:150px;" />
        </div>

        //隱藏的視窗 點擊後才會顯示
        <div id="myModal" class="modal">
            @* 一個X按鈕 *@
            <span class="close">&times;</span>
            <img class="modal-content" id="Img01">
        </div>
    }
    <div id="contextMenu"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var modal = document.getElementById("myModal");
        var modalImg = document.getElementById("Img01");
        var images = document.getElementsByClassName('image-item');
        let isSelectModeActive = false; // 初始時不在選擇模式
        document.getElementById('toggle-select-mode').addEventListener('click', function () {
            isSelectModeActive = !isSelectModeActive; // 切換選擇模式的狀態
            this.textContent = isSelectModeActive ? "取消選擇" : "選擇";
        });
        // 所有圖片添加點擊事件
        for (var i = 0; i < images.length; i++) {
            var img = images[i];
            img.onclick = function (evt) {
                if (!isSelectModeActive) { // 只有在非選擇模式時才顯示 modal
                    modal.style.display = "block";
                    modalImg.src = this.src;
                }
            }
        }

        // 挑選關閉按鈕
        var span = document.getElementsByClassName("close")[0];

        // 點擊關閉按鈕關閉modal
        if (span != null) {
            span.onclick = function () {
                modal.style.display = "none";
            }
        }
        if (modal != null) {
            modal.onclick = function (event) {
                // 檢查點擊是否發生在modal之外
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            };
        };
        document.addEventListener('DOMContentLoaded', function () {
            const toggleSelectModeBtn = document.getElementById('toggle-select-mode');
            let isSelectModeActive = false;
            const contextMenu = document.getElementById("contextMenu");

            toggleSelectModeBtn.addEventListener('click', function () {
                isSelectModeActive = !isSelectModeActive;
                this.textContent = isSelectModeActive ? "取消選擇" : "選擇";
                if (!isSelectModeActive) {
                    document.querySelectorAll('.image-item.selected').forEach(function (image) {
                        image.classList.remove('selected');
                    });
                }
            });

            document.querySelectorAll('.image-item').forEach(image => {
                image.addEventListener('click', function (event) {
                    if (isSelectModeActive) {
                        event.preventDefault();
                        this.classList.toggle('selected');
                    }
                });

                image.addEventListener('contextmenu', function (e) {
                    e.preventDefault();
                    var menuHtml = isSelectModeActive && this.classList.contains('selected') ?
                        '<ul><li id="otherOption">刪除所選</li></ul>' :
                        '<ul><li id="deleteOption">删除</li></ul>';
                    contextMenu.innerHTML = menuHtml;
                    contextMenu.style.left = e.pageX + 'px';
                    contextMenu.style.top = e.pageY + 'px';
                    contextMenu.style.display = "block";
                    contextMenu.currentImage = this; // 新增这行代码
                });
            });

            document.addEventListener('click', function (e) {
                if (!e.target.closest('#contextMenu')) {
                    contextMenu.style.display = 'none';
                }
            });

            contextMenu.addEventListener('click', function (e) {
                if (e.target.id === 'deleteOption') {
                    var selectedImages = document.querySelectorAll('.image-item.selected');
                    selectedImages.forEach(function (image) {
                        image.parentElement.remove(); // 删除选中的图片和容器
                    });
                    contextMenu.style.display = 'none';
                    if (contextMenu.currentImage) {
                        const photoId = contextMenu.currentImage.id.split('-')[1]; // 假设图片元素的id格式是"dynamicImage-123"
                        updatePhotoDescription(photoId, '1'); // 将PhotoDescription更新为'1'
                    }
                }
                // 这里可以根据需要添加更多菜单项的处理逻辑
            });
            contextMenu.addEventListener('click', function (e) {
                if (e.target.id === 'otherOption') {
                    var selectedImages = document.querySelectorAll('.image-item.selected');
                    var photoIds = Array.from(selectedImages).map(image => image.id.split('-')[1]);

                    // 调用更新所有选中图片PhotoDescription的函数
                    updateALLPhotoDescription(photoIds, '1');
                    contextMenu.style.display = 'none';
                }
            });

        });
        
        function updatePhotoDescription(photoId, newDescription) {
            fetch('/Album/UpdatePhotoDescription', { // 修改URL以匹配你的路由
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': 'your_csrf_token_here' // 如果使用CSRF保护，需要包含token
                },
                body: JSON.stringify({
                    photoId: parseInt(photoId),
                    newDescription: newDescription
                })
            })
                .then(response => {
                    if (response.ok) {
                        // 存储一个标志位在localStorage表示成功
                        localStorage.setItem("photoUpdateStatus", "success");
                    } else {
                        // 存储一个标志位在localStorage表示失败
                        localStorage.setItem("photoUpdateStatus", "fail");
                    }
                    // 重新加载页面
                    window.location.reload();
                })
                .catch((error) => {
                    console.error('Error:', error);
                    localStorage.setItem("photoUpdateStatus", "fail");
                    window.location.reload();
                });
        }
        function updateALLPhotoDescription(photoIds, newDescription) {
            // 假设服务器端接受一个请求体，其中photoIds是图片ID数组，newDescription是新的描述值
            fetch('/Album/UpdateALLPhotoDescription', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    // 'X-CSRF-TOKEN': 'your_csrf_token_here' 如果你的应用使用了CSRF保护，记得添加token
                },
                body: JSON.stringify({
                    photoIds: photoIds,
                    newDescription: newDescription
                })
            })
                .then(response => {
                    if (response.ok) {
                        // 存储一个标志位在localStorage表示成功
                        localStorage.setItem("photoUpdateStatus", "success");
                    } else {
                        // 存储一个标志位在localStorage表示失败
                        localStorage.setItem("photoUpdateStatus", "fail");
                    }
                    // 重新加载页面
                    window.location.reload();
                })
                .catch((error) => {
                    console.error('Error:', error);
                    localStorage.setItem("photoUpdateStatus", "fail");
                    window.location.reload();
                });
        }
        document.addEventListener('DOMContentLoaded', function () {
            // 检查localStorage中的状态
            const status = localStorage.getItem("photoUpdateStatus");

            if (status === "success") {
                document.getElementById("SuccessMessage").style.display = "block";
                setTimeout(() => {
                    document.getElementById("SuccessMessage").style.display = "none";
                }, 3000); // 3秒后隐藏
            } else if (status === "fail") {
                document.getElementById("FalseMessage").style.display = "block";
                setTimeout(() => {
                    document.getElementById("FalseMessage").style.display = "none";
                }, 3000); // 3秒后隐藏
            }

            // 清除状态以避免重新加载页面时再次显示消息
            localStorage.removeItem("photoUpdateStatus");
        });

        $("#updateNullAlbumPhotos").click(function () {
            var result = confirm("確定要刪除嗎？");
            if (result) {
                $.ajax({
                    url: '/Album/UpdateNullAlbumPhotosToMinAlbumId', // 更新为你的实际URL路径
                    type: 'POST',
                    success: function (response) {
                        // 这里可以添加一些成功操作的反馈，例如提示用户
                        localStorage.setItem('deleteSuccessMessage', '刪除成功');
                        location.reload();
                    },
                    error: function () {
                        // 这里是处理错误的反馈
                        localStorage.setItem('deleteFalseMessage', '刪除失敗');
                        location.reload();
                    }
                });
            }
        });

        $(document).ready(function () {
            // SET一個定時器
            setTimeout(function () {
                //使用 jQuery 的 fadeOut 方法淡出
                $("#messageAlert").fadeOut("slow");
            }, 3000); // 3 秒
        });
        $(document).ready(function () {
            // 檢查localStorage中是否有删除成功的消息
            var deleteSuccessMessage = localStorage.getItem('deleteSuccessMessage');
            if (deleteSuccessMessage) {
                // 顯示成功
                $('#successMessage').text(deleteSuccessMessage).show();

                // 設置3秒後消失
                setTimeout(function () {
                    $('#successMessage').fadeOut('slow');
                }, 3000);

                // 清除消息，避免下次加載頁面時再次顯示
                localStorage.removeItem('deleteSuccessMessage');
            }
        });
        document.addEventListener('DOMContentLoaded', function () {
            var images = document.getElementsByClassName('image-item');

            for (var i = 0; i < images.length; i++) {
                images[i].addEventListener('contextmenu', function (e) {
                    e.preventDefault(); // 阻止默认的右键菜单
                    var contextMenu = document.getElementById("contextMenu");
                    // 设置菜单位置
                    contextMenu.style.left = e.pageX + 'px';
                    contextMenu.style.top = e.pageY + 'px';
                    contextMenu.style.display = "block"; // 显示菜单
                });
            }

            // 点击其他地方隐藏菜单
            document.addEventListener('click', function (e) {
                document.getElementById("contextMenu").style.display = 'none';
            });
        });

        $(document).ready(function () {
            // 檢查localStorage中是否有删除成功的消息
            var deleteFalseMessage = localStorage.getItem('deleteFalseMessage');
            if (deleteFalseMessage) {
                // 顯示失敗
                $('#falseMessage').text(deleteFalseMessage).show();

                // 設置3秒後消失
                setTimeout(function () {
                    $('#falseMessage').fadeOut('slow');
                }, 3000);

                // 清除消息，避免下次加載頁面時再次顯示
                localStorage.removeItem('deleteFalseMessage');
            }
        });
    </script>
</body>