@model List<TravelNotes.Models.photo>


<style>
    .image-container {
        display: inline-block;
        margin-left: 20px;
        position: relative;
    }

        .image-container:hover {
            transform: scale(1.05); /* 滑鼠停在.image-container上時放大圖片 */
        }

        .image-container .hover-button {
            position: absolute;
            width: 50px;
            transform: translate(-300%);
            border: none;
            background-color: black;
            color: #fff;
            cursor: pointer;
            opacity: 0; /* 初始設定不可見 */
            transition: opacity 0.5s ease;
        }

        .image-container:hover .hover-button {
            opacity: 1; /* 滑鼠停在上方才顯示出來 */
        }

    .modal {
        display: none; /* 不顯示 */
        position: fixed; /* 固定定位 */
        z-index: 1000; /* 設定在最表層 */
        padding-top: 100px; /* 位置 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* 如果需要，使用滾動 */
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.9); /* 背景黑色，透明度 */
    }
    /* 點擊出來的img */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }
    /* 關閉按鈕 */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
    }
    /* 添加一個樣式以突顯選中的圖片 */
    .selected {
        width: 200px; /* 定義橢圓的寬度 */
        height: 100px; /* 定義橢圓的高度 */
        background-color: lightblue; /* 設定背景顏色 */
        border-radius: 20%; /* 使邊框變成橢圓形 */
        border: 2px solid black; /* 定義邊框的樣式 */
    }

    .context-menu {
        position: absolute;
        z-index: 1000;
        width: 120px;
        background: #f0f0f0;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 2px 2px 4px #aaa;
    }

        .context-menu ul {
            list-style: none;
            margin: 0;
            padding: 5px 0;
        }

            .context-menu ul li {
                padding: 5px 10px;
                cursor: pointer;
            }

                .context-menu ul li:hover {
                    background-color: #ddd;
                }
</style>
<header>
    <div>
        <h1>相片</h1>
    </div>
    <hr />

    @* 提醒文字 *@
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-warning" role="alert" id="messageAlert">
            @TempData["Message"]
        </div>
    }
    <div id="successMessage" class="alert alert-success" style="display:none;"></div>
    <div id="falseMessage" class="alert alert-danger" style="display:none;"></div>

    @* form表單接收使用者上傳的檔案，該檔案預設接收.png .jpg .jpeg ，回傳給UploadImage*@
    <form asp-action="UploadImages" method="post" enctype="multipart/form-data">
        <div>
            <label for="imageFiles">選擇照片</label>
            <input type="file" class="form-control" name="imageFiles" accept=".png, .jpg, .jpeg" multiple />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">上傳</button>
    </form>
    <br />
    <button id="updateNullAlbumPhotos">清空相片</button>
    <hr />
</header>


<body>
    <button id="toggle-select-mode">選擇</button>
    @foreach (photo p in Model)
    {
        //Action Privacy 後端回傳符合條件 p.UserId == 1 && p.AlbumId == null 的所有圖片
        <div id="Pho-@p.PhotoId" class="image-container">
            <img id="dynamicImage-@p.PhotoId" src="@p.PhotoPath" class="image-item" style="width: 150px;height:150px;" />
        </div>

        //隱藏的視窗 點擊後才會顯示
        <div id="myModal" class="modal">
            @* 一個X按鈕 *@
            <span class="close">&times;</span>
            <img class="modal-content" id="Img01">
        </div>
    }
    <div id="contextMenu" class="context-menu" style="display:none;">
        <ul>
            <li id="deleteOption">删除</li>
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var modal = document.getElementById("myModal");
        var modalImg = document.getElementById("Img01");
        var images = document.getElementsByClassName('image-item');
        let isSelectModeActive = false; // 初始時不在選擇模式
        document.getElementById('toggle-select-mode').addEventListener('click', function () {
            isSelectModeActive = !isSelectModeActive; // 切換選擇模式的狀態
            this.textContent = isSelectModeActive ? "取消選擇" : "選擇";
        });
        // 所有圖片添加點擊事件
        for (var i = 0; i < images.length; i++) {
            var img = images[i];
            img.onclick = function (evt) {
                if (!isSelectModeActive) { // 只有在非選擇模式時才顯示 modal
                    modal.style.display = "block";
                    modalImg.src = this.src;
                }
            }
        }

        // 挑選關閉按鈕
        var span = document.getElementsByClassName("close")[0];

        // 點擊關閉按鈕關閉modal
        if (span != null) {
            span.onclick = function () {
                modal.style.display = "none";
            }
        }
        if (modal != null) {
            modal.onclick = function (event) {
                // 檢查點擊是否發生在modal之外
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            };
        };
        document.addEventListener('DOMContentLoaded', function () {
            const toggleSelectModeBtn = document.getElementById('toggle-select-mode'); // 假设这是你的切换按钮
            let isSelectModeActive = false; // 用于跟踪是否应该进行多选

            // 监听切换按钮的点击事件
            toggleSelectModeBtn.addEventListener('click', function () {
                isSelectModeActive = !isSelectModeActive; // 切换多选模式状态
                if (isSelectModeActive) {
                    this.textContent = "取消選擇"; // 更新按钮文本（可选）
                } else {
                    this.textContent = "選擇"; // 更新按钮文本（可选）
                    // 新增：取消所有图片的selected状态
                    document.querySelectorAll('.image-item.selected').forEach(function (image) {
                        image.classList.remove('selected');
                    });
                }
            });

            const images = document.querySelectorAll('.image-item');

            images.forEach(image => {
                image.addEventListener('click', function (event) {
                    // 只有当多选模式激活时，才允许切换图片的选中状态
                    if (isSelectModeActive) {
                        event.preventDefault(); // 防止默认操作（如有）
                        this.classList.toggle('selected');
                    }
                });
            });
        });
        document.addEventListener('DOMContentLoaded', function () {
            var images = document.getElementsByClassName('image-item');

            for (var i = 0; i < images.length; i++) {
                images[i].addEventListener('contextmenu', function (e) {
                    e.preventDefault(); // 阻止默认的右键菜单

                    var photoId = this.id.split('-')[1]; // 假设图片元素的id是"dynamicImage-XXX"格式
                    var uploadDate = this.getAttribute('data-upload-date'); // 假设你已经将上传日期作为数据属性添加到了图片元素上

                    var contextMenu = document.getElementById("contextMenu");
                    // 设置菜单位置
                    contextMenu.style.left = e.pageX + 'px';
                    contextMenu.style.top = e.pageY + 'px';
                    contextMenu.style.display = "block"; // 显示菜单

                    // 将photoId和uploadDate绑定到右键菜单的元素上，以便在选项点击时使用
                    contextMenu.setAttribute('data-photo-id', photoId);
                    contextMenu.setAttribute('data-upload-date', uploadDate);
                });
            }

            // 点击其他地方隐藏菜单
            document.addEventListener('click', function (e) {
                document.getElementById("contextMenu").style.display = 'none';
            });

            // 绑定点击事件到菜单项
            document.getElementById('deleteOption').addEventListener('click', function () {
                var contextMenu = document.getElementById("contextMenu");
                var photoId = contextMenu.getAttribute('data-photo-id');
                var uploadDate = contextMenu.getAttribute('data-upload-date');

                // 在这里执行 AJAX 请求来进行删除操作
                var result = confirm("确定要删除吗？");
                if (result) {
                    $.ajax({
                        url: '/Album/UpdateAlbumId', // 控制器的Action
                        type: 'POST',
                        data: { photoId: photoId, ReplaceTime: uploadDate },
                        success: function () {
                            localStorage.setItem('deleteSuccessMessage', '删除成功');
                            location.reload(); // 重新加载页面以显示更新
                        },
                        error: function () {
                            localStorage.setItem('deleteFalseMessage', '删除失败');
                            alert("删除失败，请重试！");
                        }
                    });
                } else {
                    alert("删除已取消");
                }
            });
        });

        
        $("#updateNullAlbumPhotos").click(function () {
            var result = confirm("確定要刪除嗎？");
            if (result) {
                $.ajax({
                    url: '/Album/UpdateNullAlbumPhotosToMinAlbumId', // 更新为你的实际URL路径
                    type: 'POST',
                    success: function (response) {
                        // 这里可以添加一些成功操作的反馈，例如提示用户
                        localStorage.setItem('deleteSuccessMessage', '刪除成功');
                        location.reload();
                    },
                    error: function () {
                        // 这里是处理错误的反馈
                        localStorage.setItem('deleteFalseMessage', '刪除失敗');
                        location.reload();
                    }
                });
            }
        });

        $(document).ready(function () {
            // SET一個定時器
            setTimeout(function () {
                //使用 jQuery 的 fadeOut 方法淡出
                $("#messageAlert").fadeOut("slow");
            }, 3000); // 3 秒
        });
        $(document).ready(function () {
            // 檢查localStorage中是否有删除成功的消息
            var deleteSuccessMessage = localStorage.getItem('deleteSuccessMessage');
            if (deleteSuccessMessage) {
                // 顯示成功
                $('#successMessage').text(deleteSuccessMessage).show();

                // 設置3秒後消失
                 setTimeout(function () {
                     $('#successMessage').fadeOut('slow');
                 }, 3000);

                // 清除消息，避免下次加載頁面時再次顯示
                 localStorage.removeItem('deleteSuccessMessage');
            }
        });
        document.addEventListener('DOMContentLoaded', function () {
            var images = document.getElementsByClassName('image-item');

            for (var i = 0; i < images.length; i++) {
                images[i].addEventListener('contextmenu', function (e) {
                    e.preventDefault(); // 阻止默认的右键菜单
                    var contextMenu = document.getElementById("contextMenu");
                    // 设置菜单位置
                    contextMenu.style.left = e.pageX + 'px';
                    contextMenu.style.top = e.pageY + 'px';
                    contextMenu.style.display = "block"; // 显示菜单
                });
            }

            // 点击其他地方隐藏菜单
            document.addEventListener('click', function (e) {
                document.getElementById("contextMenu").style.display = 'none';
            });
        });
        
        $(document).ready(function () {
            // 檢查localStorage中是否有删除成功的消息
            var deleteFalseMessage = localStorage.getItem('deleteFalseMessage');
            if (deleteFalseMessage) {
                // 顯示失敗
                $('#falseMessage').text(deleteFalseMessage).show();

                // 設置3秒後消失
                setTimeout(function () {
                    $('#falseMessage').fadeOut('slow');
                }, 3000);

                // 清除消息，避免下次加載頁面時再次顯示
                localStorage.removeItem('deleteFalseMessage');
            }
        });
    </script>
</body>