@model List<FriendRequest>
<style>
    #friendList {
        border-radius: 50px;
        background-color: whitesmoke;
    }


    .friendListUnit {
        position: relative;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

        .friendListUnit:nth-child(1) {
            flex: 1;
        }

        .friendListUnit:nth-child(2) {
            flex: 2;
        }

        .friendListUnit:nth-child(3) {
            flex: 2;
        }

        .friendListUnit:nth-child(4) {
            flex: 3;
        }

    #friendList div:first-child {
        border-radius: 50px 50px 0 0;
    }

    #friendList div:last-child {
        border-radius: 0 0 50px 50px;
    }

    .friendListUnit:hover {
        background-color: antiquewhite;
        transition: 0.3s;
    }

    .friendListUnit:not(:hover) {
        background-color: whitesmoke;
        transition: 0.3s;
    }

    .friendListUnit > * {
        margin: 1rem;
        font-size: 1.5rem;
    }
</style>
<h1>送出的交友邀請</h1>
<div id="friendList">
    @if (Model.Count() == 0)
    {
        <p>尚無送出邀請</p>
    }
    @foreach (var item in Model)
    {
        <div class="friendListUnit">
            <p>序列號:@item.uuid</p>
            @switch (item.Status)
            {
                case 1:
                    <p>已接受</p>
                    break;
                case 0:
                    <p>已送出</p>
                    break;
                case -1:
                    <p>已拒絕</p>
                    break;
                default:
                    <p>內部伺服器錯誤</p>
                    break;
            }
            @*<p>送出者:@item.SenderUserId</p>*@
            <p>受邀者:@item.ReceiverUserId</p>
            <a href="/PersonalPage/PersonalPage/?userId=@item.ReceiverUserId">前往個人頁</a>
        </div>
    }
</div>
<script defer>
    if (document.getElementById("friendList").children.length == 1) {
        document.querySelector(".friendListUnit").style = "border-radius: 50px;";
    }
</script>