@model List<FriendRequest>
<link rel="stylesheet" href="~/css/friendPagesStyle.css">
<h1>送出的交友邀請</h1>
<div id="friendList">
    @if (Model.Count() == 0)
    {
        <p>尚無送出邀請</p>
    }
    @foreach (var item in Model)
    {
        <div class="friendListUnit">
            <p>序列號:@item.uuid</p>
            @switch (item.Status)
            {
                case 1:
                    <p>已接受</p>
                    break;
                case 0:
                    <p>已送出</p>
                    break;
                case -1:
                    <p>已拒絕</p>
                    break;
                default:
                    <p>內部伺服器錯誤</p>
                    break;
            }
            <p>名稱:@item.ReceiverUser.UserName</p>
            <p>暱稱:@item.ReceiverUser.Nickname</p>
            @*<p>送出者:@item.SenderUserId</p>*@
            <p>受邀者:@item.ReceiverUserId</p>
            <a href="/PersonalPage/PersonalPage/?userId=@item.ReceiverUser.UserId" style="display: block; border-radius: 100rem;">
                @if (item.ReceiverUser?.Headshot == null)
                {
                    <img class="rounded-circle" src="/images/userImageDefault.jpg" alt="" style="width:100px;height:100px;">
                }
                else
                {
                    <img class="rounded-circle" src=@item.ReceiverUser.Headshot alt="" style="width:100px;height:100px;">
                }
            </a>
        </div>
    }
</div>