.btn-outline-violet {
    color: #6A5ACD;
    border-color: #6A5ACD;
}

    .btn-outline-violet:hover {
        color: #fff;
        background-color: #6A5ACD;
        border-color: #6A5ACD;
    }

    .btn-check:focus + .btn-outline-violet, .btn-outline-violet:focus {
        box-shadow: 0 0 0 0.25rem rgba(106, 90, 205, 0.5);
    }

    .btn-check:checked + .btn-outline-violet, .btn-check:active + .btn-outline-violet, .btn-outline-violet:active, .btn-outline-violet.active, .btn-outline-violet.dropdown-toggle.show {
        color: #fff;
        background-color: #6A5ACD;
        border-color: #6A5ACD;
    }

        .btn-check:checked + .btn-outline-violet:focus, .btn-check:active + .btn-outline-violet:focus, .btn-outline-violet:active:focus, .btn-outline-violet.active:focus, .btn-outline-violet.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(106, 90, 205, 0.5);
        }

    .btn-outline-violet:disabled, .btn-outline-violet.disabled {
        color: #6A5ACD;
        background-color: transparent;
    }


.btn-outline-violet {
    color: #6A5ACD;
    border-color: #6A5ACD;
}

    .btn-outline-violet:hover {
        color: #fff;
        background-color: #6A5ACD;
        border-color: #6A5ACD;
    }

    .btn-check:focus + .btn-outline-violet, .btn-outline-violet:focus {
        box-shadow: 0 0 0 0.25rem rgba(106, 90, 205, 0.5);
    }

    .btn-check:checked + .btn-outline-violet, .btn-check:active + .btn-outline-violet, .btn-outline-violet:active, .btn-outline-violet.active, .btn-outline-violet.dropdown-toggle.show {
        color: #fff;
        background-color: #6A5ACD;
        border-color: #6A5ACD;
    }

        .btn-check:checked + .btn-outline-violet:focus, .btn-check:active + .btn-outline-violet:focus, .btn-outline-violet:active:focus, .btn-outline-violet.active:focus, .btn-outline-violet.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(106, 90, 205, 0.5);
        }

    .btn-outline-violet:disabled, .btn-outline-violet.disabled {
        color: #6A5ACD;
        background-color: transparent;
    }
