#friendList {
    border-radius: 50px;
    background-color: whitesmoke;
}


.friendListUnit {
    position: relative;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

    .friendListUnit:nth-child(1) {
        flex: 1;
    }

    .friendListUnit:nth-child(2) {
        flex: 2;
    }

    .friendListUnit:nth-child(3) {
        flex: 2;
    }

    .friendListUnit:nth-child(4) {
        flex: 3;
    }

#friendList div:first-child {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

#friendList div:last-child {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.friendListUnit:hover {
    background-color: antiquewhite;
    transition: 0.3s;
}

.friendListUnit:not(:hover) {
    background-color: whitesmoke;
    transition: 0.3s;
}

.friendListUnit > * {
    margin: 1rem;
    font-size: 1.5rem;
}

.friendListUnit > button {
    position: relative;
    height: 3rem;
    top: 1rem;
    border-radius: 1rem;
}
