#friendList {
    border-radius: 50px;
    background-color: whitesmoke;
}


.friendListUnit {
    position: relative;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

    .friendListUnit:nth-child(1) {
    }

    .friendListUnit:nth-child(2) {
/*        width: 25%*/
    }

    .friendListUnit:nth-child(3) {
/*        width: 25%;*/
    }

    .friendListUnit:nth-child(4) {
        width: 10%;
    }
    .friendListUnit>button{
        width: 5rem;
    }

#friendList div:first-child {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

#friendList div:last-child {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.friendListUnit:hover {
    background-color: antiquewhite;
    transition: 0.3s;
}

.friendListUnit:not(:hover) {
    background-color: whitesmoke;
    transition: 0.3s;
}

.friendListUnit > * {
    margin: 1rem;
    font-size: 1.5rem;
    position: relative;
    flex-basis: 15%;
}

.friendListUnit > button {
    position: relative;
    height: 3rem;
    border-radius: 1rem;
}
