@model List<usersArticleModel>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">


<style>
    .sticky-search-bar {
        position: sticky;
        top: 0;
        background-color: #F3E4C6;
        z-index: 1000;
        margin-left:auto;
        margin-right:auto;
        margin-top:5px;
        height:50px;
        
    }

    .input-icon-container {
        position: relative;
        display: inline-block;
        width: 100%;
        margin-top:3px;
    }

        .input-icon-container i {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            color: #ccc;
        }

    .parent {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .ParVie{
        margin: 10px;
        position: relative;
    }
    </style>
<div class="sticky-search-bar">
    <form asp-controller="Home" asp-action="Index" method="get">
        <div class="input-icon-container">
            <i class="bi bi-search"></i>
            <input type="text" name="search" placeholder="請輸入關鍵字" style="width:100%; border-radius: 30px; border: 0px solid #ccc; padding: 10px 40px;" />
        </div>
    </form>
</div>
<div>
    <hr />
    @if (Model != null && Model.Any())
    {

        <div style="display:flex; flex-wrap:wrap;background-color:#F3E4C6;">

            @foreach (var item in Model)
            {
                <div style="width:48%; margin:5px;background-color:white;border-radius:20px;">

                    <div style="margin:10px;">
                        <div style="display:inline-block;font-family:Arial;font-weight:bold;">
                            <a href="/PersonalPage/PersonalPage?userId=@item.user.UserId" style="text-decoration: none; color: inherit;">
                                <img src="@item.user.Headshot" style="width:35px;height:35px;border-radius:50%;"></img>
                                @item.user.Nickname
                            </a>
                        </div>
                    </div>

                    <div class="ParVie">
                        <a href="/Article/ArticleView?articleId=@item.article.ArticleId" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;"></a>
                        <partial name="ArticleCard" model="item.article" />
                    </div>

                </div>
            }

        </div>
    }
    else
    {
        <p>沒有找到類似的文章，請重新搜尋。</p>
    }
    
    
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            let url = new URL(window.location);
            if (url.searchParams.has('search')) {
                url.searchParams.delete('search');
                window.history.pushState({}, '', url);
            }
        });
        $(document).ready(function () {
            $('.ParVie').hover(
                function () {
                    $(this).find('.partialViewTitle').css('text-decoration', 'underline');
                    $(this).find('.partialViewSubTitle').css('text-decoration', 'underline');
                    

                }, function () {
                    $(this).find('.partialViewTitle').css('text-decoration', 'none');
                    $(this).find('.partialViewSubTitle').css('text-decoration', 'none');
                    
                }
            );
        });
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('[data-publish-time]').forEach(function (element) {
                const publishTime = new Date(element.getAttribute('data-publish-time'));
                element.innerText = timeSince(publishTime) + '前';
            });
        });
        
        
        
    </script>
</div>