@model IEnumerable<TravelNotes.Models.article>
<style>
    .text-break {
        margin-left:10px;
        word-break: break-all;
        min-width: 50px;
        max-width: 980px;
    }
    .text{
        height: 200px;
        width:1000px;
    }

    .myArticle {
        display: flex;
    }

    .img-thumbnail {
        width: 200px;
        height: 200px;
    }




    </style>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TravelNotes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <form asp-controller="Home" asp-action="Index" method="get">
        <input type="text" name="search" placeholder="Search articles..." />
        <button type="submit">Search</button>
    </form>
    <br><br>
</header>
<body>
    @if (Model != null && Model.Any())
    {
        @foreach (var article in Model)
        {
            <div class="row">
                <div class="myArticle">
					<div style="display:flex;border:solid 1px">
						<div class="col-md-10">
							<div class="text">
                                <p class="articleDate">@article.PublishTime</p>			
								<div>
									<a href="/Home/Article/@article.Title" style="color:black;font-weight:bold;">
										<h5 style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;">
											@article.Title
										</h5>
									</a>
									<p class="text-break" style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">
										@article.Contents
									</p>
								</div>
							</div>
						</div>
                        <div class="articlePhoto col-md-2" style="width:200px;height:200px;margin-right:20px">
						    <a href="/Home/Article/@article.Title"><img src="@article.Images" class="img-thumbnail mx-auto d-block" alt="..."></a>
						</div>
					</div>
				</div>

			</div>
            <br />
        }
		
            
    }
    else
    {
        <p>No articles found.</p>
    }
    
    
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            let url = new URL(window.location);
            if (url.searchParams.has('search')) {
                url.searchParams.delete('search');
                window.history.pushState({}, '', url);
            }
        });
    </script>
</body>