<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Blog</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/Tabs.css" />
	<link rel="stylesheet" href="~/css/Pick.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/TravelNotes.styles.css" asp-append-version="true" />
	<script src="~/js/jquery_1.13.2/jquery-3.6.0.js"></script>
	<script src="~/js/jquery_1.13.2/jquery-ui.js"></script>
	<script src="~/js/site.js"></script>
	<style>
		#allContainer {
			display: flex;
		}

		#sideBarSpace {
			background-color: azure;
			width: 100px;
		}

		#sideBar {
			position: fixed;
			right: 0px;
			top: 0px
		}
	</style>
</head>
<body>
	<div id="sideBar">
		<a>Logo</a>
		<br>
		<a>會員</a>
		<br>
		<a asp-controller="Article" asp-action="Draft">草稿</a>
		<br>
		<a>個人頁面</a>
		<br>
		<a>規劃</a>
	</div>
	<div id="allContainer">

		<div class="container">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>
		<div id="sideBarSpace">
		</div>
	</div>
	
</body>
</html>