<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Blog</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/TravelNotes.styles.css" asp-append-version="true" />
	<script src="~/js/site.js"></script>
	<style>
		#allContainer {
			display: flex;
		}

		#sideBarSpace {
			background-color: azure;
			width: 100px;
		}

		#sideBar {
			position: fixed;
			right: 0px;
			top: 0px
		}
	</style>
</head>
<body>
	<div id="sideBar">
		<a asp-controller="Home" asp-action="Index">Logo</a>
		<br>
		<a>會員</a>
		@* 這裡有好笑的bug 登入登出同一個按鈕 *@
		@if (!User.Identity.IsAuthenticated)
		{
			<a asp-controller="Member" asp-action="Login" class="btn btn-primary">登入</a>
		}
		<br>
		@if (User.Identity.IsAuthenticated)
		{
			<a asp-controller="Member" asp-action="Logout" class="btn btn-primary">登出</a>
		}
		<br>
		<a asp-controller="Article" asp-action="Draft">草稿</a>
		<br>
		<a asp-controller="PersonalPage" asp-action="PersonalPage">個人頁面</a>
		<br>
		<a>規劃</a>
	</div>
	<div id="allContainer">

		<div class="container">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>
		<div id="sideBarSpace">
		</div>
	</div>
	
</body>
</html>